<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<!-- 注解扫描包 -->
	<context:component-scan base-package="com.mars.controller" />
	<!-- 开启注解 -->
	<mvc:annotation-driven />

	<mvc:default-servlet-handler />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*" />
			<bean class="com.mars.interceptor.GlobalInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<!-- <mvc:mapping path="/userTask/*" /> -->
			<mvc:mapping path="/user/updateUser" />
			<!-- <mvc:mapping path="/userTask/insertUserTask" /> <mvc:mapping path="/userTask/updateUserTask" 
				/> <mvc:mapping path="/userTask/deleteUserTaskById" /> <mvc:mapping path="/banner/deleteByBannerId" 
				/> <mvc:mapping path="/banner/insertBanner" /> <mvc:mapping path="/review/insertReview" 
				/> <mvc:mapping path="/taskCategory/insertTaskCategory" /> <mvc:mapping path="/taskCategory/deleteTaskCategoryById" 
				/> <mvc:mapping path="/task/insertTask" /> <mvc:mapping path="/task/updateTask" 
				/> -->
			<bean class="com.mars.interceptor.RequestInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
		<property name="objectMapper">
			<bean class="com.fasterxml.jackson.databind.ObjectMapper">
				<property name="dateFormat">
					<bean class="java.text.SimpleDateFormat">
						<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<!-- 启动Spring MVC 的注解功能,完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<!-- 静态资源访问 -->
	<mvc:resources location="/img/" mapping="/img/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/files/" mapping="/files/**" />
	<mvc:resources location="/css/" mapping="/css/**" />


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".html"></property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="32505856" /><!-- 上传文件大小限制为31M，31*1024*1024 -->
		<property name="maxInMemorySize" value="4096" />
	</bean>

	<!-- <import resource="classpath*:com/mars/web/controller/spring-annotation.xml" /> -->

</beans>  